body{
    margin: 0px;
    background-size: cover;
    background-position:center;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
   
    position: relative;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);


}

.tasks-container{
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60vh;
    overflow: auto;
    margin-inline:auto ;
}

@media screen and (max-width:580px) {
    .tasks-container{
        width: 80%;
    }
}

.input-container{
    display: flex;
    flex-direction: column;
    
    margin-inline: auto;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.title{

    margin-top: 0px;
    color:black;
    width: 100%;
    text-align: center;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.input{

    padding-inline: 10px;
    padding-block: 10px;
    border: none;
    border-radius:10px ;
    width: 300px;
    margin-right: 10px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.14);

}

.button{
    border-radius:7px;
    padding-inline: 10px;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.14);
    background-color: #9146FF;
    color: white ;
    user-select: none;
}
.button:hover{
    opacity: 0.8;
}

.button:active{
    box-shadow:inset 5px 7px rgba(0, 0, 0, 0.14);

}
.tasks-name-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    overflow: auto;

}


.button-div button{
    cursor: pointer;
}

.button-div button:hover{
    opacity: 0.9;
}

.button-div button:active{
    opacity: 0.7;
}
.del-button{
    display: flex;
    background-color: red;
    color: white;
    border: none;
    border-radius: 7px;
    margin-bottom: 5px;
}
.ed-button{
    
    background-color: #ffce44;
    color: white;
    border: none;
    border-radius: 7px;
}



.edit-background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000063;   
}

.edit-input-container{
    display: flex;
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 20px;
    top: 30%;
    left: 40%;
    justify-content: center;
}

.edit-input{
border: 1px solid black;
outline: none;
padding-block: 10px;
padding-left: 7px;
border-radius:5px 0px 0px 5px;
}

.edit-button{
    border: 1px solid black;
    border-left:none ;
    padding-block: 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    background-color:#ffce44;
}

.edit-button:hover{
    opacity: 0.9;
}

.edit-button:active{
    opacity: 0.5;
}

